* {
	box-sizing: border-box; 
}

body { /*ADDED BODY TO CSS*/
	font-family: 'Open Sans', sans-serif;
}		

h1 {
	font-family: open sans;
	font-weight: 300;
	color: #DD1972;
	text-align: center;
	padding-top: 10px;
	font-size: 50px;
	margin: auto;
	width: 100%;
}

span { /*changed .h1-bold class from to span*/
	font-weight: 700;
	font-family: open sans;
}

header {
	background-color: #404041;
	display: flex;
	align-items: center;
}

.heading {
	display: inline-block;
	margin: auto;
}

h3 {
	overflow: hidden;
 	margin: 0 0 10px;
}

h3:before, h3:after {
	background-color: #FFFFFF;
 	content: "";
 	display: inline-block;
 	height: 1px;
 	position: relative;
 	vertical-align: middle;
 	width: 50%;
}

h3:before {
 right: 0.5em;
 margin-left: -50%;
}

h3:after {
 left: 0.5em;
 margin-right: -50%;
}

.container { /*tyring out flex*/
	display: flex;
	/*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    align-content: center;
    background-color: #F7F7F7;
	
}
.leftpane {
	width: 50%;
}
.buttons{
	margin-top: 20px;
}

aside {
	background-color: #D0D2D3;
	flex: 50%;
	padding: 30px;
/*	width: 50%;*/
}

.cards{
	width: 50%;
}
form{
	border-style: solid;
	border-width: 2px;
	border-color: #D0D2D3;
	margin: 10px;
	padding: 10px;
	font-size: 18px;
}

section {
	border-style: solid;
	border-width: 2px;
	border-color:#D0D2D3;
	margin: 10px;
	padding: 10px;
}

h3 {
	text-align: center;
	font-family: open sans;
	font-weight: 300;
	color: #FFFFFF;
	padding-bottom: 20px;
}

h2 {
	text-align: center;
	font-family: open sans;
	font-weight: 300;
}

.h2-bold{
	display: block;
	font-weight: 700;
}
h4{
	font-family: open sans;
    font-weight: 700;
    color: #404041;
    margin: 3px 0 5px 0;
    font-size: 18px;
}

p, label{
	font-family: open sans;
	font-weight: 300;
	color: #404041;
}
.min-range, .max-range{
	width: 170px;
	margin-top: 10px;
}

.bold { /*USING SPAN FOR ALL .BOLD AND .H1-BOLD*/
	font-weight: 700;
}

label{
	display: block;
}
input{
	border-style: solid;
	border-color: #D0D2D3;
	height: 35px;
	width: 170px;
	margin-top: 10px;
}

.min-container {
	display: inline-block;
	margin-right: 20px;
}

.max-container{
	display: inline-block;
	margin-right: 20px;
}

.challenger-1-name{
	display: inline-block;
	margin-right: 20px;
}
.challenger-1-container-name, .challenger-2-container-name{
	display:inline-block;
	margin: 20px;
}
.challenger-1-container-guess{
	display:inline-block;
}
.challenger-2-container-guess {
	display:inline-block;
	margin: 20px;
}
.challenger-2-container-guess{
	display:inline-block;
}
.challenger-1-guess{
	display: inline-block;
	margin-right: 20px;
}
#challenger-1-name, #challenger-2-name{
	width: 300px;
}

.bold{
	font-weight: 700;
}

.pill{
	width: 150px;
	height: 30px;
	border-radius: 500px;
	border-style: none;
	padding: 4px 8px 4px 8px;
	font-weight: 700;
	font-size: 15px;
	display: inline-block;
	margin: 10px;
}

#update{
	width: 100px;
}

.pill:hover, .active:hover, .inactive.hover {
	background-color: #dd1972;
	color: #FFFFFF;
}

.active {
	background-color:#6E6E6E; 
	color:#FFFFFF;
}

.inactive {
	background-color:#D0D2D3;
	color:#FFFFFF;
}

ul{
	margin:0px;
	padding: 0px;
}

li{
	list-style: none;
	border-style: solid;
	border-width: 2px;
	border-color: #6e6e6e;
	background-color:#F7F7F7;
	padding: 10px;
	margin: 10px;
} 

li p{
	text-align: center;
}
.score-challenger-1 p{
 	text-align: center;
}
.score-challenger-1, .score-challenger-2{
	display: inline-block;
	position: relative;
}
.score-challenger-2 p{
 	text-align: center;
}
.bottom{
	text-align:left;
	display: inline;
	margin-right: 60px
}
.round{
	border-radius: 50%;
	text-align: center;
	background-color: #404041;
	width: 30px;
	height: 30px;
	float: right;
}
a{
	color:#FFFFFF;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	padding-bottom: 3px;
}

@media screen and (max-width: 320px) {

body {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
}
