* {
	box-sizing: border-box; 
	
}

body { 
	font-family: 'Open Sans', sans-serif;
}	

header {
	align-items: center;
	background-color: #404041;
	display: flex;
}

.heading {
	display: inline-block;
	margin: auto;
}

h1 {
	color: #DD1972;
	font-family: open sans;
	font-size: 50px;
	font-weight: 300;
	margin: auto;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

span {
	font-weight: 700;
	font-family: open sans;
}


h3 {
	overflow: hidden;
 	margin: 0 0 10px;
}

h3:before, h3:after {
	background-color: #FFFFFF;
 	content: "";
 	display: inline-block;
 	height: 1px;
 	position: relative;
 	vertical-align: middle;
 	width: 50%;
}

h3:before {
 right: 0.5em;
 margin-left: -50%;
}

h3:after {
 left: 0.5em;
 margin-right: -50%;
}

.container { 
	  display: flex;
    align-content: center;
    background-color: #F7F7F7;
}
  
.leftpane {
	width: 50%;
}  

.buttons{
	margin-top: 20px;
}

aside {
	background-color: #D0D2D3;
	flex: 50%;
	padding: 30px;
}
  
form {
	border-color: #D0D2D3;
	border-style: solid;
	border-width: 2px;
	font-size: 18px;
	margin: 10px;
	padding: 10px;
}

section {
	border-color:#D0D2D3;
	border-style: solid;
	border-width: 2px;
	display: flex;
	margin: 10px;
	padding: 10px;
}

h3 {
	text-align: center;
	font-family: open sans;
	font-weight: 300;
	color: #FFFFFF;
	padding-bottom: 20px;
}

h2 {
	font-family: open sans;
	font-weight: 300;
	text-align: center;
}

.h2-bold {
	display: block;
	font-weight: 700;
}

h4 {
	  font-family: open sans;
    color: #404041;
    font-size: 18px;
    display: block;
    font-weight: 700;
    margin: 3px 0 5px 0;
}

p, label {
	color: #404041;
	font-family: open sans;
	font-weight: 300;
}
.min-range, .max-range {
	margin-top: 10px;
	width: 170px;
}

.bold {
	font-weight: 700;
}

label {
	display: block;
}

input {
	border-color: #D0D2D3;
	border-style: solid;
	height: 35px;
	margin-top: 10px;
	width: 170px;
}

.min-container, .max-container {
	display: inline-block;
	margin-right: 20px;
}

.challenger-1-name {
	display: inline-block;
	margin-right: 20px;
}

.challenger-1-container-name, .challenger-2-container-name {
	display:inline-block;
	margin: 20px;
}

.challenger-1-container-guess {
	display:inline-block;
}

.challenger-2-container-guess {
	display:inline-block;
	margin: 20px;
} 

.challenger-2-container-guess {
	display:inline-block;
}

.challenger-1-guess {
	display: inline-block;
	margin-right: 20px;
}

#challenger-1-name, #challenger-2-name {
	width: 300px;
}

.pill {
	border-radius: 500px;
	border-style: none;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	height: 30px;
	margin: 10px;
	padding: 4px 8px 4px 8px;
	width: 150px;
}

#update {
	width: 100px;
}

.pill:hover, .active:hover, .inactive.hover {
	background-color: #dd1972;
	color: #FFFFFF;
}

.active {
	background-color:#6E6E6E; 
	color:#FFFFFF;
}

.inactive {
	background-color:#D0D2D3;
	color:#FFFFFF;
}

.cards {
	padding: 10px;
	margin: 10px;
} 
.new-card{
	border-style: solid;
	border-width: 2px;
	border-color: #6e6e6e;
	background-color:#F7F7F7;
	padding: 20px;
}

.cards p {
	text-align: center;
}

.score-challenger-1 p{
 	text-align: center;
}

.score-challenger-1, .score-challenger-2{
	display: inline-block;
	position: relative;

.score-challenger-2 p { 
 	text-align: center;
}

.bottom {
	text-align:left;
	display: inline;
	margin-right: 60px
}

.round {
	background-color: #404041;
	border-radius: 50%;
	float: right;
	height: 30px;
	text-align: center;
	width: 30px;
}

a {
	color:#FFFFFF;
	font-size: 15px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
}
